/* @tailwind base;
@tailwind components; */
@tailwind utilities;

* {
  box-sizing: border-box;
}
span,
img {
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#app {
  height: 100%;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.overlay{
  overflow-y: overlay;
}
.my-large-btn{
  width: 180px;
  height: 50px;
  font-size: 22px;
}

.value-number{
  // font-family: consolas;
}
.left-side-ani{
  
  transition: left 0.3s ease;
}

.home-tab {
  .n-tabs-pane-wrapper {
    height: 100%;
  }
  .n-tabs-wrapper {
    flex-wrap: wrap;
    .n-tabs-tab-wrapper {
      flex-grow: 1;
    }
  }
  .n-tabs-tab-pad {
    width: 4px;
  }
  .n-tabs-nav--card-type.n-tabs-nav--top.n-tabs-nav {
    background-image: url("./assets/PanelHead.png");
    background-size: 100% 120%;
    padding-top: 0.5rem;
    /* padding-bottom: 4px; */
  }
  &.no-bg {
    .n-tabs-nav--card-type.n-tabs-nav--top.n-tabs-nav {
      background-image: none;
      border-bottom: 2px solid #ccc;
    }
  }
}

.bar-tab {
  //带底部边条的标签
  // .n-tabs-nav-scroll-wrapper {
  //   border-bottom:2px solid #ccc;
  // }
}

.btn-bg {
  background-image: url("./assets/LineDspButton_inactive.png");
  background-size: 100% 100%;
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.full-pop-enter-active {
  transition: all 0.2s ease-out;
}

.full-pop-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.full-pop-enter-from,
.full-pop-leave-to {
  transform: scaleX(0);
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
